<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">
                <b>Table Name</b>
            </h3>
            <div class="row">
                <div class="col-md-4">
                    <h3 class="text-center">
                        <b>Customers</b>
                    </h3>
                    <table class="table table-condensed table-hover">
                        <tbody ng-repeat="name in Name">
                            <tr class="success">
                                <td>
                                    {{name.Name}}
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <h3 class="text-center">
                        <b>Status</b>
                    </h3>
                    <table class="table table-condensed table-hover">
                        <tbody ng-repeat="table2 in Table2">
                            <tr class="success">
                                <td>
                                    {{table2.Status}}
                                </td>
                                <td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <h3 class="text-center">
                        <b>Refills</b>
                    </h3>
                    <table class="table table-condensed table-hover">
                        <tbody>
                            <tr class="success">
                                <td>
                                    Sprite
                                </td>
                                <td>
                                    x1
                                </td>
                            </tr>

                            <tr class="success">
                                <td>
                                    Vodka Sour
                                </td>
                                <td>
                                    x7
                                </td>
                            </tr>
                            <tr class="success">
                                <td>
                                    Dr. Pepper
                                </td>
                                <td>
                                    x2
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <h2>
                        Heading
                    </h2>
                    <p>
                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                    </p>
                    <p>
                        <a class="btn" href="#">View details »</a>
                    </p>
                </div>
                <div class="col-md-6">

                    <a href="#/tables/10/order" class="btn btn-lg" role="button" align="center">Order Bitch!</a>
                </div>
            </div>
        </div>
    </div>
</div>