

<div ng-repeat="order in orders track by $index">
    <div class="row">
        <div class="col-md-1">
            
        </div>
        <div class="col-md-10" style="background-color: aliceblue; border: dotted">
            <!--{{ now | date:'HH:mm:ss'}} -->
            <h3>
                Order {{$index + 1}} has been waiting {{order.waitTime | date:'mm:ss'}}
            </h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Item
                        </th>
                        <th>
                            Comments
                        </th>
                    </tr>
                </thead>
                <tbody ng-repeat="i in getNumber(order.items.length) track by $index">
                    <tr>
                        <td>
                            {{ order.items[$index] }}
                        </td>
                        <td>
                            {{ order.comments[$index] }}
                        </td>
                    </tr>


                </tbody>
                  
            </table>


        </div>
        <div class="col-md-1">
            <div class="btn-group-vertical">
                <button type="button" class="btn" ng-click="ClaimedOrder($index)">Claim</button>
                <button type="button" class="btn" ng-click="ReadyOrder($index)">Ready</button>
            </div>
            

        </div>
    </div>
    <br />
</div>

<div class="row" align="center">
    <button type="button" class="btn" ng-click="getOrders()">Reload</button>
</div>