<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">
                Table Name
            </h3>
            <div class="row">
                <div class="col-md-4">
                    <h3 class="text-center">
                        Customers
                    </h3>
                    <table class="table table-condensed table-hover">
                        <tbody>
                            <tr class="success">
                                <td>
                                    Customer 1
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <h3 class="text-center">
                        Status
                    </h3>
                    <table class="table table-condensed table-hover">
                        <tbody>
                            <tr class="success">
                                <td>
                                    Eating
                                </td>
                                <td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <h3 class="text-center">
                        Refills
                    </h3>
                    <table class="table table-condensed table-hover">
                        <tbody>
                            <tr class="success">
                                <td>
                                    Sprite
                                </td>
                                <td>
                                    x1
                                </td>
                            </tr>

                            <tr class="success">
                                <td>
                                    Vodka Sour
                                </td>
                                <td>
                                    x7
                                </td>
                            </tr>
                            <tr class="success">
                                <td>
                                    Dr. Pepper
                                </td>
                                <td>
                                    x2
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>
                Comments
            </h3>
            <p>
                Need mo foods.
            </p>
        </div>
    </div>
</div>