﻿<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 top-buffer" ng-repeat="menuAppetizers in MenuAppetizers">
          <h3>
               {{menuAppetizers.FoodName}}
          </h3>
          <!--Display Image from Database -->
          <img class="img-thumbnail image-format" alt="Item Image" src="{{menuAppetizers.FoodImg}}" />
          <p class="description">
               {{menuAppetizers.Description}}
          </p>
          <!-- Add Item to Order -->
          <!-- TODO: Implement this -->
          <button type="button" class="btn btn-default btn-sm" ng-click="addToOrder(menuAppetizers.FoodID)">Order</button>
          <!-- Trigger the modal with a button -->
          <button type="button" class="btn btn-default btn-sm" ng-click="open(menuAppetizers)">Nutrition Info</button>
        </div>
    </div>
</div>

<!-- Nutrion Info Modal 
<div class="modal" id="myModal" role="dialog"> 
<script type="text/ng-template" id="myModal.html">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nutrition Info</h4>
            </div>
            <div class="modal-body">
                <p>Calories: {{menuAppetizers.NutritionInfo}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</script>
<!--</div> -->
<!--

     EOF

-->
﻿