﻿<div class="container-fluid">
    <div class="row">
        <div class="col-md-4" ng-repeat="menuEntrees in MenuEntrees">
            <p>
                {{menuEntrees.FoodName}}
            </p>
            <!--Need to Show the Food Pic. We need to pull from Parse. -->
            <img class="img-thumbnail" alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" />
            <p>
                {{menuEntrees.Description}}
            </p>
            <div class="container">
                <button type="button" class="btn btn-default btn-sm">
                    Order
                </button>
            </div>
            <div class="container">
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">Nutrition Info</button>

                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Nutrition Info</h4>
                            </div>
                            <div class="modal-body">
                                <p>Calories: {{Calories}}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <!-- <div class="col-md-4">
             <p>
                 Food Title
             </p><img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" />
             <div class="container">
             <button type="button" class="btn btn-default btn-sm">
                 Order
             </button>
             </div>
             <div class="container">

                 <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">Nutrition Info</button>


                 <div class="modal fade" id="myModal" role="dialog">
                     <div class="modal-dialog">


                         <div class="modal-content">
                             <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                                 <h4 class="modal-title">Nutrition Info</h4>
                             </div>
                             <div class="modal-body">
                                 <p>Some text in the modal.</p>
                             </div>
                             <div class="modal-footer">
                                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                             </div>
                         </div>

                     </div>
                 </div>

             </div>

         </div> -->
        <!--<div class="col-md-4">
            <p>
                Food Title
            </p><img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" />
            <div class=" container" >
            <button type="button" class="btn btn-default btn-sm" align="center">
                Order
            </button>
            </div>
            <div class="container">

                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">Nutrition Info</button>


                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">


                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Nutrition Info</h4>
                            </div>
                            <div class="modal-body">
                                <p>Some text in the modal.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div> -->
    </div>
</div>

<!--

     EOF

-->
﻿