<!-- Menu Sections -->
<div class="row" align="center">
     <!-- Appetizers Button -->
     <div class="col-md-4" align="center">
          <h2 align="center">
               <b>Appetizers</b>
          </h2>
         <img class="img-thumbnail image-format"  src="http://files.parsetfss.com/bc6b651f-2039-4fe4-b62c-51c48199dc40/tfss-a432e801-d630-497b-98a9-d2740ea2dda1-imgres.jpg">
          <p>
               <a href="#/appetizers" class="btn" role="button"> View Appetizers</a>
         </p>
     </div>
     <!-- Entrees Button -->
     <div class="col-md-4" align="center">
          <h2 align="center">
               <b>Entrees</b>
          </h2>
          <img class="img-thumbnail image-format" src="http://files.parsetfss.com/bc6b651f-2039-4fe4-b62c-51c48199dc40/tfss-1b115275-1698-4f86-bbf0-a704dc1e846c-605_salad_house_600x400_50.jpg ">
          <p>
               <a href="#/entrees" class="btn" role="button"> View Entrees</a>
          </p>
     </div>
     <!-- Kids Section Button -->
     <div class="col-md-4" align="center">
          <h2 align="center">
               <b>Kids Menu</b>
          </h2>
          <img class="img-thumbnail image-format" src="http://files.parsetfss.com/bc6b651f-2039-4fe4-b62c-51c48199dc40/tfss-47b02308-30ca-461c-a318-1e2f502c5c7d-6861_kids_bites_600x400_11.jpg">
          <p>
               <a href="#/kids" class ="btn" role="button"> View Kids Menu</a>
          </p>
     </div>
</div>

<div class="row" align="center">
     <!-- Drinks Button -->
     <div class="col-md-6" align="center">
          <h2 align="center">
               <b>Drinks</b>
          </h2>
           <img class="img-thumbnail image-format" src="https://41.media.tumblr.com/21600c59c28104dc8b32a90a3da30cb8/tumblr_nrj06b588y1sx5lcto1_500.jpg">
          <p>
               <a href="#/drinks" class="btn" role="button"> View Drinks</a>
          </p>
     </div>
     <!-- Desserts Button -->
     <div class="col-md-14" align="center">
          <h2 align="center">
               <b>Desserts</b>
          </h2>
          <img class="img-thumbnail image-format" src="http://files.parsetfss.com/bc6b651f-2039-4fe4-b62c-51c48199dc40/tfss-5b7edf23-fef6-4a97-b29f-554bbc5f22c4-images-2.jpg ">
          <p>
               <a href="#/desserts" class="btn" role="button"> View Desserts</a>
          </p>
     </div>
</div>


<!--


     EOF

-->
