<!-- Menu Sections -->
<div class="row" align="center">

    <div class="col-md-4" align="center">
        <h2 align="center">
            Appetizers
        </h2>
        <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/">
        <p>
            <button type="button" class="btn btn-lg btn-link" align="center">
                View Appetizers
            </button>
        </p>
    </div>

    <div class="col-md-4" align="center">
        <h2 align="center">
            Entrees
        </h2>
        <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/">
        <p>
            <button type="button" class="btn btn-lg btn-link" align="center">
                View Entrees
            </button>
        </p>
    </div>

    <div class="col-md-4" align="center">
        <h2 align="center">
            Drinks
        </h2>
        <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/">
        <p>
            <button type="button" class="btn btn-lg btn-link" align="center">
                View Drinks
            </button>
        </p>
    </div>

</div>