<!-- Menu Sections -->
<div class="row" align="center">
     <!-- Appetizers Button -->
     <div class="col-md-4" align="center">
          <h2 align="center">
               Appetizers
          </h2>
          <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/">
          <p>
               <a href="#/appetizers" class="btn btn-info" role="button"> View Appetizers</a>
         </p>
     </div>
     <!-- Entrees Button -->
     <div class="col-md-4" align="center">
          <h2 align="center">
               Entrees
          </h2>
          <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/">
          <p>
               <a href="#/entrees" class="btn btn-info" role="button"> View Entrees</a>
          </p>
     </div>
     <!-- Kids Section Button -->
     <div class="col-md-4" align="center">
          <h2 align="center">
               Kids Menu
          </h2>
          <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/">
          <p>
               <a href="#/kids" class ="btn btn-info" role="button"> View Kids Menu</a>
          </p>
     </div>
</div>

<div class="row" align="center">
     <!-- Drinks Button -->
     <div class="col-md-6" align="center">
          <h2 align="center">
               Drinks
          </h2>
          <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/">
          <p>
               <a href="#/drinks" class="btn btn-info" role="button"> View Drinks</a>
          </p>
     </div>
     <!-- Desserts Button -->
     <div class="col-md-14" align="center">
          <h2 align="center">
               Desserts
          </h2>
          <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/">
          <p>
               <a href="#/desserts" class="btn btn-info" role="button"> View Desserts</a>
          </p>
     </div>
</div>


<!--


     EOF

-->
