<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <p>
               Physical Receipt
            </p>
            <button type="button" class="btn btn-default"  ng-click="PhysicalReceipt()">
                Physical Receipt
            </button>
            <p>
                Email Receipt
            </p>
            <textarea class="form-control noresize" cols="30" rows="1" id="Email" ng-model="CommentArea"> </textarea>
            <button type="button" class="btn btn-default" ng-click="EmailReceipt(CommentArea)">
                Email Receipt
            </button>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>