<div class="container-fluid">
    <div class="row" align ="center">
        <div class="col-md-12">
            <h3>
                Lottery Game
            </h3>
            <a href="#/LotteryGame" class="btn btn-info" role="button"> Play Now!</a>
            <p>
                Chance to win a coupon! Can only be played twice per stay!
            </p>
        </div>
    </div>
    <div class="row" align ="center">
        <div class="col-md-4">
            <h3>
                TicTacToe Game
            </h3>
            <a href="#/tictactoe" class="btn btn-info" role="button"> Play Now!</a>
            <p>
                A simple two player game of TicTacToe.
            </p>
        </div>
        <div class="col-md-4">
            <h3>
                Connect Four Game
            </h3>
            <a href="#/connectfour" class="btn btn-info" role="button"> Play Now!</a>
            <p>
               Simple two player connect 4 game. 
            </p>
        </div>
        <div class="col-md-4">
            <h3>
                Othello Game
            </h3>
            <a href="#/game" class="btn btn-info" role="button"> Play now!</a>
            <p>
                Checkers or Othello
            </p>
        </div>
    </div>
</div>