<div class="row" align="center">
    <canvas id="myCanvas" width="512" height="542" style="border:10px solid #000000;">
        Your browser does not support the HTML5 canvas tag.
    </canvas>

    <script>
        initCheckers();

        var c = document.getElementById('myCanvas');
        cLeft = c.offsetLeft;
        cTop = c.offsetTop;

        c.addEventListener('click', function (event) {
            var x = event.pageX - cLeft;
            var y = event.pageY - cTop;

            checkersMouseHandler(x, y);
        }, false);


    </script>
</div>