<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>
                            Customer's Refill Request
                        </th>

                    </tr>
                </thead>
                <tbody >
                    <tr class="success" ng-repeat="refill in Refill">
                        <td>
                            {{refill.Request}}

                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>