


<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" ng-repeat="table in Table">
            <p>&nbsp;</p>
            <p class="full-circle">{{table.Status}}</p>
           <!--Want to be able to change color, but can't get chaning a css element to work.-->
           

            <div class="container">
                <!-- Trigger the modal with a button -->
                <a href="#/tables/{{table.ID}}" class="btn btn-success" role="button" align="center">Table {{table.ID}}</a>

            </div>

        </div>
    </div>
</div>

