<!DOCTYPE HTML>


<div class="row" align="center">

    <div class="col-md-3" align="center">

        <p class="full-circle" ng-click="">       
         </p>

        <p>
            <button type="button" class="btn btn-lg btn-link" align="center">
                View Appetizers
            </button>
        </p>
        
    </div>

    <div class="col-md-3" align="center">

        <p class="full-circle">
        </p>

        <p>
            <button type="button" class="btn btn-lg btn-link" align="center">
                View Appetizers
            </button>
        </p>

    </div>

    <div class="col-md-3" align="center">

        <p class="full-circle">
        </p>

        <p>
            <button type="button" class="btn btn-lg btn-link" align="center">
                View Appetizers
            </button>
        </p>

    </div>

    <div class="col-md-3" align="center">

        <p class="full-circle">
        </p>

        <p>
            <button type="button" class="btn btn-lg btn-link" align="center">
                View Appetizers
            </button>
        </p>

    </div>

</div>

<div class="row" align="center">

    <div class="col-md-3" align="center">

        <p class="full-circle">
        </p>

        <p>
            <button type="button" class="btn btn-lg btn-link" align="center">
                View Appetizers
            </button>
        </p>

    </div>

    <div class="col-md-3" align="center">

        <p class="full-circle">
        </p>

        <p>
            <button type="button" class="btn btn-lg btn-link" align="center">
                View Appetizers
            </button>
        </p>

    </div>

    <div class="col-md-3" align="center">

        <p class="full-circle">
        </p>

        <p>
            <button type="button" class="btn btn-lg btn-link" align="center">
                View Appetizers
            </button>
        </p>

    </div>

    <div class="col-md-3" align="center">

        <p class="full-circle">
        </p>

        <p>
            <button type="button" class="btn btn-lg btn-link" align="center">
                View Appetizers
            </button>
        </p>

    </div>

</div>

<div class="row" align="center">

    <div class="col-md-3" align="center">

        <p class="full-circle">
        </p>

        <p>
            <button type="button" class="btn btn-lg btn-link" align="center">
                View Appetizers
            </button>
        </p>

    </div>

    <div class="col-md-3" align="center">

        <p class="full-circle">
        </p>

        <p>
            <button type="button" class="btn btn-lg btn-link" align="center">
                View Appetizers
            </button>
        </p>

    </div>

    <div class="col-md-3" align="center">

        <p class="full-circle">
        </p>

        <p>
            <button type="button" class="btn btn-lg btn-link" align="center">
                View Appetizers
            </button>
        </p>

    </div>

    <div class="col-md-3" align="center">

        <p class="full-circle">
        </p>

        <p>
            <button type="button" class="btn btn-lg btn-link" align="center">
                View Appetizers
            </button>
        </p>

    </div>

</div>
  