<!DOCTYPE HTML>


<div class="row" align="center">

    <div class="col-md-3" align="center">

        <p class="full-circle" ng-click="">       
         </p>

        <p>
            <button type="button" class="btn btn-lg btn-link" align="center">
                View Table 1
            </button>
        </p>
        
    </div>

    <div class="col-md-3" align="center">

        <p class="full-circle">
        </p>

        <p>
            <button type="button" class="btn btn-lg btn-link" align="center">
                View Table 2
            </button>
        </p>

    </div>

    <div class="col-md-3" align="center">

        <p class="full-circle">
        </p>

        <p>
            <button type="button" class="btn btn-lg btn-link" align="center">
                View Table 3
            </button>
        </p>

    </div>

    <div class="col-md-3" align="center">

        <p class="full-circle">
        </p>

        <p>
            <button type="button" class="btn btn-lg btn-link" align="center">
                View Table 4
            </button>
        </p>

    </div>

</div>

<div class="row" align="center">

    <div class="col-md-3" align="center">

        <p class="full-circle">
        </p>

        <p>
            <button type="button" class="btn btn-lg btn-link" align="center">
                View Table 5
            </button>
        </p>

    </div>

    <div class="col-md-3" align="center">

        <p class="full-circle">
        </p>

        <p>
            <button type="button" class="btn btn-lg btn-link" align="center">
                View Table 6
            </button>
        </p>

    </div>

    <div class="col-md-3" align="center">

        <p class="full-circle">
        </p>

        <p>
            <button type="button" class="btn btn-lg btn-link" align="center">
                View Table 7
            </button>
        </p>
    7
    </div>

    <div class="col-md-3" align="center">

        <p class="full-circle">
        </p>

        <p>
            <button type="button" class="btn btn-lg btn-link" align="center">
                View Table 8
            </button>
        </p>

    </div>

</div>

<div class="row" align="center">

    <div class="col-md-3" align="center">

        <p class="full-circle">
        </p>

        <p>
            <button type="button" class="btn btn-lg btn-link" align="center">
                View Table 9
            </button>
        </p>

    </div>

    <div class="col-md-3" align="center">

        <p class="full-circle">
        </p>

        <p>
            <button type="button" class="btn btn-lg btn-link" align="center">
                View Table 10
            </button>
        </p>

    </div>

    <div class="col-md-3" align="center">

        <p class="full-circle">
        </p>

        <p>
            <button type="button" class="btn btn-lg btn-link" align="center">
                View Table 11
            </button>
        </p>

    </div>

    <div class="col-md-3" align="center">

        <p class="full-circle">
        </p>

        <p>
            <button type="button" class="btn btn-lg btn-link" align="center">
                View Table 12
            </button>
        </p>

    </div>

</div>
  