<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <ul class="nav nav-stacked nav-pills">
                <li class="alert-success"> 
                    <a href="/#/waitstaff/order"><b><font color="black">Staff Order</font></b></a>
                </li>
                <li class="alert-success">
                    <a href="/#/waitstaff/help"><b><font color="black">Help Requests</font></b></a>
                </li>
                <li class="alert-success">
                    <a href="/#/waitstaff/refill"><b><font color="black">Refill Requests</font></b></a>
                </li>

            </ul>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>