<!-- Showcased Menu Item -->
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <div class="container" align="center">
                <h1>Showcased Menu Item</h1>
                <p>Description here</p>
                <p>
                    <button type="button" class="btn btn-lg btn-link" align="center">
                        Order Now
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Items Pictures with "order now" link-->
<div class="row">

    <div class="col-md-4" align="center">
        <h2 align="center">
            Appetizer
        </h2>
        <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/">
        <p>
            <button type="button" class="btn btn-lg btn-link" align="center">
                Order Now
            </button>
        </p>
    </div>

    <div class="col-md-4" align="center">
        <h2 align="center">
            Entree
        </h2>
        <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/">
        <p>
            <button type="button" class="btn btn-lg btn-link" align="center">
                Order Now
            </button>
        </p>
    </div>

    <div class="col-md-4" align="center">
        <h2 align="center">
            Dessert
        </h2>
        <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/">
        <p>
            <button type="button" class="btn btn-lg btn-link" align="center">
                Order Now
            </button>
        </p>
    </div>

</div>

<!--

     EOF

-->
