<!-- Showcased Menu Item -->
<div class="row" ng-show="currentUser">
    <div class="col-md-12">
        
			<div class="carousel slide" id="carousel-209621">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-209621">
					</li>
					<li data-slide-to="1" data-target="#carousel-209621">
					</li>
					<li data-slide-to="2" data-target="#carousel-209621">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active" align="center">
						<img alt="Carousel Bootstrap First" src="http://files.parsetfss.com/bc6b651f-2039-4fe4-b62c-51c48199dc40/tfss-2c2089e0-c1c3-4d30-ae3d-998f5ef1aeea-6872_burger_otc_600x400_5.jpg"/>
						
					</div>
					<div class="item" align="center">
						<img alt="Carousel Bootstrap Second" src="http://files.parsetfss.com/bc6b651f-2039-4fe4-b62c-51c48199dc40/tfss-ffd0a6bf-d0c9-4772-88fb-6c8da13d2c6f-336_Ribs_OriginalFullRack_600x400.jpg" />
						
					</div>
					<div class="item" align="center">
						<img alt="Carousel Bootstrap Third" src="http://files.parsetfss.com/bc6b651f-2039-4fe4-b62c-51c48199dc40/tfss-1b115275-1698-4f86-bbf0-a704dc1e846c-605_salad_house_600x400_50.jpg" />
						
					</div>
				</div> <a class="left carousel-control" href="#carousel-209621" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-209621" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
	
        <div class="jumbotron">
            <div class="container" align="center">
                <h1>Welcome</h1>
                <p>
                The Broken Code opened its doors to the city of Denton in the Fall of 2015. The Broken Code brings you what has been called “Upscale Comfort” food. Thanks to our community and to our customers for growing with us and for your constant support. We hope you enjoy your meal as much as we have enjoyed preparing it for you.
                </p>
                
            </div>
        </div>
    </div>
</div>

<!-- Menu Items with links to show them-->
<div class="row" ng-show="currentUser">

    <div class="col-md-4" align="center">
        <h2 align="center">
            <b>Appetizers</b>
        </h2>
         <img class="img-thumbnail image-format" src="http://files.parsetfss.com/bc6b651f-2039-4fe4-b62c-51c48199dc40/tfss-a432e801-d630-497b-98a9-d2740ea2dda1-imgres.jpg">
          <p>
               <a href="#/appetizers" class="btn" role="button" align= "center"> View Appetizers</a>
          </p>
        
    </div>

    <div class="col-md-4" align="center">
        <h2 align="center">
            <b>Entrees</b>
        </h2>
        <img class="img-thumbnail image-format" src="http://files.parsetfss.com/bc6b651f-2039-4fe4-b62c-51c48199dc40/tfss-9a202032-924b-4bbb-8472-628b5710c788-3512_steaks_classicribeye_600x400.jpg">
        <p>
               <a href="#/entrees" class="btn" role="button" align= "center"> View Entrees</a>
          </p>
    </div>

    <div class="col-md-4" align="center">
        <h2 align="center">
            <b>Desserts</b>
        </h2>
         <img class="img-thumbnail image-format" src="http://files.parsetfss.com/bc6b651f-2039-4fe4-b62c-51c48199dc40/tfss-5b7edf23-fef6-4a97-b29f-554bbc5f22c4-images-2.jpg">
        <p>
               <a href="#/desserts" class="btn" role="button" align= "center"> View Desserts</a>
          </p>
    </div>

</div>

<div class="row" align="center" ng-show="currentUser">
     <div class="col-md-6" align="center">
          <h2 align="center">
               <b>Drinks</b>
          </h2>
          <img class="img-thumbnail image-format" src="https://41.media.tumblr.com/21600c59c28104dc8b32a90a3da30cb8/tumblr_nrj06b588y1sx5lcto1_500.jpg">
          <p>
          <a href="#/drinks" class="btn" role="button" align= "center"> View Drinks</a>
          </p>
     </div>  

<div class="col-md-14" align="center">
        <h2 align="center">
            <b>Kids Menu</b>
        </h2>
         <img class="img-thumbnail image-format" src="http://files.parsetfss.com/bc6b651f-2039-4fe4-b62c-51c48199dc40/tfss-47b02308-30ca-461c-a318-1e2f502c5c7d-6861_kids_bites_600x400_11.jpg">
          <p>
               <a href="#/kids" class="btn" role="button" align= "center"> View Kids Menu</a>
          </p>
        
    </div>
</div>

<!--
    
     Everything above shows up when there is a user logged in

     Everything below shows up when there is NOT a user logged in
     This is done through the ng-show and ng-hide tags

-->

<!-- Login Form -->
<div class="container" ng-hide="currentUser">

     <form class="form-signin" ng-submit="login()">
          <h2 class="form-signin-heading">Please sign in</h2>
          <!-- Ask for user to input their username -->
          <label for="inputUsername" class="sr-only">Username</label>
          <input type="text" id="inputUsername" class="form-control"
                 ng-model="login.username" placeholder="Username" autofocus>
          <!-- Ask for user to input their password-->
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control"
                 ng-model="login.password" placeholder="Password">
          <!-- Sign in button runs login function in the controller -->
          <button class="btn btn-lg btn-block" type="submit">Sign in</button>
          <!-- Register button opens up modal for registration -->
          <button class="btn btn-lg btn-block" type="button"
                  data-toggle="modal" data-target="#registerModal">
               Register
          </button>
          <!-- Guest Button for users who do not wish to log in or create an account -->
          <button class="btn btn-lg btn-block" ng-click="guestLogin()" type="button" >
               Continue as Guest
          </button>
     </form>

</div>

<!-- Register Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" 
     role="dialog" aria-labelledby="registerModal" ng-hide="currentUser">
    
      <div class="modal-dialog" role="document">
          <div class="modal-content">
               <!-- Modal Header-->
               <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create an account</h4>
               </div>
               <!-- Modal Body -->
               <div class="modal-body">
                    <!-- Registration form -->
                    <form class="form-signin">
                         <!-- Ask for users real name -->
                         <label for="inputName" class="sr-only">Name</label>
                         <input type="text" id="inputName" class="form-control"
                                ng-model="newuser.name" placeholder="Name" autofocus>
                         <!-- Ask user in input their username -->
                         <label for="inputUsername" class="sr-only">Username</label>
                         <input type="text" id="inputUsername" class="form-control"
                                ng-model="newuser.username" placeholder="Username">
                         <!-- Ask user to input a password -->
                         <label for="inputPassword" class="sr-only">Password</label>
                         <input type="password" id="inputPassword" class="form-control"
                                ng-model="newuser.password" placeholder="Password">
                         <!-- Ask user to input their birthday -->
                         <label for="inputBirthday" class="sr-only">Password</label>
                         <input type="date" id="inputBirthday" class="form-control"
                                ng-model="newuser.birthday" placeholder="Birthday">
                         <script>
                             $(document).ready(function ()
                             {
                                 $("#inputBirthday").datepicker();
                             });
                            </script>
                            <!-- Ask user to input their email-->
                            <label for="inputEmail" class="sr-only">Email Address</label>
                            <input type="email" id="inputEmail" class="form-control"
                                   ng-model="newuser.email" placeholder="User@email.com">
</form>
          </div>
          <!-- Modal footer with Cancel and Register buttons -->
          <div class="modal-footer">
               <button type="button" class="btn" data-dismiss="modal">Cancel</button>
               <button type="button" class="btn" ng-click="register()">Register</button>
          </div>
     </div>
</div>
</div>





<!--

     EOF

-->
