<!-- Showcased Menu Item -->
<div class="row">
    <div class="col-md-12">
        
			<div class="carousel slide" id="carousel-209621">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-209621">
					</li>
					<li data-slide-to="1" data-target="#carousel-209621">
					</li>
					<li data-slide-to="2" data-target="#carousel-209621">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active" align="center">
						<img alt="Carousel Bootstrap First" src="https://www.chilis-static.com/CatalogImages/MDSImages/C/Images/item/6862/WEB_LARGE_IMAGE/6862_lunchcombo_$8_burger_600x400_7.jpg"/>
						
					</div>
					<div class="item" align="center">
						<img alt="Carousel Bootstrap Second" src="https://www.chilis-static.com/CatalogImages/MDSImages/C/Images/item/336/WEB_LARGE_IMAGE/336_Ribs_OriginalFullRack_600x400.jpg" />
						
					</div>
					<div class="item" align="center">
						<img alt="Carousel Bootstrap Third" src="https://www.chilis-static.com/CatalogImages/MDSImages/C/Images/item/641/WEB_LARGE_IMAGE/605_salad_house_600x400_31.jpg" />
						
					</div>
				</div> <a class="left carousel-control" href="#carousel-209621" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-209621" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
	
        <div class="jumbotron">
            <div class="container" align="center">
                <h1>Welcome To The Broken Code Resturant</h1>
                <p>
                The Broken Code opened its doors to the city of Denton in the Fall of 2015. The Broken Code brings you what has been called “Upscale Comfort” food. Thanks to our community and to our customers for growing with us and for your constant support. We hope you enjoy your meal as much as we have enjoyed preparing it for you.
                </p>
                
            </div>
        </div>
    </div>
</div>

<!-- Items Pictures with "order now" link-->
<div class="row">

    <div class="col-md-4" align="center">
        <h2 align="center">
            Appetizers
        </h2>
         <img class="img-thumbnail image-format" src="http://files.parsetfss.com/bc6b651f-2039-4fe4-b62c-51c48199dc40/tfss-a432e801-d630-497b-98a9-d2740ea2dda1-imgres.jpg">
          <p>
               <a href="#/appetizers" class="btn btn-info" role="button" align= "center"> View Appetizers</a>
          </p>
        
    </div>

    <div class="col-md-4" align="center">
        <h2 align="center">
            Entrees
        </h2>
        <img class="img-thumbnail image-format" src="http://files.parsetfss.com/bc6b651f-2039-4fe4-b62c-51c48199dc40/tfss-9a202032-924b-4bbb-8472-628b5710c788-3512_steaks_classicribeye_600x400.jpg">
        <p>
               <a href="#/entrees" class="btn btn-info" role="button" align= "center"> View Entrees</a>
          </p>
    </div>

    <div class="col-md-4" align="center">
        <h2 align="center">
            Desserts
        </h2>
         <img class="img-thumbnail image-format" src="http://files.parsetfss.com/bc6b651f-2039-4fe4-b62c-51c48199dc40/tfss-5b7edf23-fef6-4a97-b29f-554bbc5f22c4-images-2.jpg">
        <p>
               <a href="#/desserts" class="btn btn-info" role="button" align= "center"> View Desserts</a>
          </p>
    </div>
</div>
    <div class="row" align="center">
        <div class="col-md-12" align="center">
            <h2 align="center">
                Drinks
            </h2>
             <img class="img-thumbnail image-format" src="https://41.media.tumblr.com/21600c59c28104dc8b32a90a3da30cb8/tumblr_nrj06b588y1sx5lcto1_500.jpg">
            <p>
               <a href="#/drinks" class="btn btn-info" role="button" align= "center"> View Drinks</a>
          </p>
        </div>
    
    </div>

<!--

     EOF

-->
