<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="row" >
                <p><b>Appetizers</b></p>
                <div class="col-md-12"ng-repeat="menuAppetizers in MenuAppetizers" ng-init="table2 = $Table2">
                    <button type="button" class="btn btn-block" ng-click="addToOrder(menuAppetizers)">{{menuAppetizers.FoodName}}</button>
                    
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row" ng-init="table2 in Table2">
                <p><b>Entrees</b></p>
                <div class="col-md-12" ng-repeat="menuEntree in MenuEntree">
                    <button type="button" class="btn btn-block" ng-click="addToOrder(menuEntree, table2)">{{menuEntree.FoodName}}</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row" ng-init="table2 in Table2">
                <p><b>Deserts</b></p>
                <div class="col-md-12" ng-repeat="menuDesert in MenuDesert">
                    <button type="button" class="btn btn-block" ng-click="addToOrder(menuDesert, table2)">{{menuDesert.FoodName}}</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row" ng-init="table2 in Table2">
                <p><b>Drinks</b></p>
                <div class="col-md-12" ng-repeat="menuDrinks in MenuDrinks">
                    <button type="button" class="btn btn-block" ng-click="addToOrder(menuDrinks, table2) ">{{menuDrinks.FoodName}}</button>
                </div>
            </div>
        </div>
    </div>
</div>