/* Our Custom CSS styles*/
html {
  position: relative;
  min-height: 100%;
}
body {
     /* Padding for fixed navbar header */
     padding-top: 60px;
     /* Margin bottom by footer height */
     margin-bottom: 60px;
     background-color: #507e49;
}
/* Sticky footer styles */
footer {
     /* Make sure it's always at the bottom*/
     position: absolute;
     bottom: 0;
     /* Set the fixed height of the footer here */
     height: 60px;
}

.full-circle {
width:150px;
height:150px;
border-radius:50%;
font-size:30px;
color:#fff;
line-height:150px;
text-align:center;
background:#094400
}

.description{
     height:60px;
}

.top-buffer { 
     margin-top:20px; 
}

.image-format {
    height: 250px;
    width: auto;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 12px;
  background: #0c4500;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}


.btn:hover {
  background: #e8e5e8;
  text-decoration: none;
  color: #000000;
}