/* Our Custom CSS styles*/
html {
  position: relative;
  min-height: 100%;
}
body {
     /* Padding for fixed navbar header */
     padding-top: 60px;
     /* Margin bottom by footer height */
     margin-bottom: 60px;
}
/* Sticky footer styles */
footer {
     /* Make sure it's always at the bottom*/
     position: absolute;
     bottom: 0;
     /* Set the fixed height of the footer here */
     height: 60px;
}

.full-circle {
 background-color: #f00;
 border: 3px solid #333;
 height: 150px;
 width: 150px;
 -moz-border-radius:75px;
 -webkit-border-radius: 75px;
}